.next
node_modules
out
dist
.env
.env*.local
*.log
*.tsbuildinfo
coverage
.vercel
przykłady/
broszura-informacyjna-dotyczaca-struktury-logicznej-fa-3-04032026.pdf

# Supabase
supabase/.branches
supabase/.temp

# Playwright
test-results
playwright-report
playwright/.cache

# Test envs
.env.test
.env.local
